body{
    background-image: linear-gradient(to right, rgb(86, 147, 32), rgb(245, 159, 0));
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 230px;
}
.main-container{
    background-color: rgba(48, 0, 93, 0.322);
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    border-radius: 30px;
}
.h1{
    padding:0;
    margin: 0;
    font-family: Arial;
}
.section{
    background-color: rgba(165, 42, 42, 0.507);
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr;
}
.h2-first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-style: solid;
}
.game-content-div{
    display: grid;  /* Ensures the game content area is also flex */
    grid-template-columns: 1fr; /* Aligns all rows vertically */
    align-items: center; /* Centers rows within the game content area */
    row-gap: 10px;
    margin: 6px 0px;
}
.row{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 7px;
}

.h2-second{
    margin: 0;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-block{
    position: relative;
    cursor: grab;
    width: 30px;
    height: 30px;
}
.front-game-block ,.back-game-block{
    object-fit: contain;
    top: 0;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.401);
}
.back-game-block{
}


.player-info-container{
    background-color: rgba(53, 0, 103, 0.281);
    height: 100px;
    padding: 20px;
    border-radius: 50px;
    margin-left: 20px;
}
.balance, .balance-text{
    font-size: 28px;
    font-family: arial;
    font-weight: 600;
}